@use 'variables' as *;
@use 'mixins' as *;
@use 'base';
@use 'layout';
@use 'components';
@use 'carousel';
@use 'header';
@use 'footer';
@use 'home';
@use 'about';
@use 'services';
@use 'values';
@use 'contact';
@use 'tarif';
@use 'mentions-legales';
@use 'reviews';
@use 'contact-form';
@use 'devis';
@use 'blog';
@use 'blog-article';
@use 'faq';

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
}

/*EXEMPLE*/
@include respond-to('mobile') {
  body {
    font-size: 14px;
  }
}
