@use 'variables' as *;
@use 'mixins' as *;
@use 'base';
@use 'layout';
@use 'components';
@use 'carousel';
@use 'header';
@use 'footer';
@use 'home';

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
}

/*EXEMPLE*/
@include respond-to('mobile') {
  body {
    font-size: 14px;
  }
}
